[Desktop Entry]
Type=Application
Icon=/var/lib/flatpak/exports/share/icons/hicolor/256x256/apps/com.chatterino.chatterino.png
Name=chatterino
Exec=/usr/local/bin/chatterino
Terminal=false
Hidden=false
