<?xml version="1.0" encoding="UTF-8"?>
<packages>
	<package id="librewolf" version="119.0.0.7"/>
	<package id="alacritty" version="0.12.3"/>
	<package id="firefox" version="119.0.0"/>
	<package id="git" version="2.42.0"/>
	<package id="wget" version="1.21.4"/>
	<package id="vlc" version="3.0.19"/>
	<package id="steam" version="2.10.91.91221129"/>
	<package id="files" version="2.5.21"/>
	<package id="qbittorrent" version="4.6.0"/>
	<package id="winfetch" version="2.5.1"/>
	<package id="obs-studio" version="29.1.3"/>
	<package id="flameshot" version="12.1.0"/>
	<package id="streamlink-twitch-gui" version="2.4.1"/>
	<package id="lsd" version="0.23.0"/>
	<package id="sqlitebrowser" version="3.12.2"/>
	<package id="sqlite" version="3.43.2"/>
	<package id="mono" version="6.12.0.199"/>
	<package id="jdownloader" version="2.0.0.2023"/>
	<package id="pia" version="290.3.5.1"/>
	<package id="kopiaui" version="0.15.0"/>
	<package id="rustdesk" version="1.2.2"/>
	<package id="github-desktop" version="3.3.4"/>
	<package id="chatterino" version="2.4.2"/>
	<package id="curl" version="8.4.0"/>
	<package id="eartrumpet" version="2.3.0"/>
	<package id="translucenttb" version="2023.1.0"/>
	<package id="testdisk" version="6.14.20131012"/>
	<package id="neovim" version="0.9.4"/>
	<package id="gpu-z" version="2.55.0"/>
	<package id="hwmonitor" version="1.52.0.20230901"/>
	<package id="lightbulb" version="2.0"/>
	<package id="procexp" version="17.5.0.20231021"/>
	<package id="sdelete" version="2.5.0"/>
	<package id="windirstat" version="1.1.2.20161210"/>
	<package id="wiztree" version="4.15.0"/>
	<package id="handbrake" version="1.6.1"/>
	<package id="nodejs" version="21.1.0"/>
</packages>
