[Desktop Entry]
Type=Application
Icon=/var/lib/flatpak/exports/share/icons/hicolor/256x256/apps/com.chatterino.chatterino.png
Name=streamlink-twitch-gui
Exec=/usr/local/bin/Streamlink Twitch GUI
Terminal=false
Hidden=false
