[Desktop Entry]
Type=Application
Icon=/usr/share/icons/streamlink.png
Name=streamlink-twitch-gui
Exec=/usr/local/bin/Streamlink Twitch GUI
Terminal=false
Hidden=false
